<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
    />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/notice-board.css" />
    <link rel="stylesheet" href="/css/yearbook.css" />

    <title>Rampurhat Sreeja</title>
  </head>
  <body>
    <%- include("partials/navbar") %> <%- include("partials/login-modal") %>
    <% include("partials/messages") %>


    <!-- main container -->
    <div class="container mt-5">
      <!-- school name -->
      <h1 class="display-4 text-center">Rampurhat Sreeja</h1>

      <!-- school image -->
      <img src="https://via.placeholder.com/1200x200.png?text=Rampurhat+Sreeja" alt="" width="100%" />

      <!-- address line -->
      <p class="lead text-center">
        Rampurhat J.L. Vidyabhaban, Rampurhat Municipality, Ward No.-4, Birbhum, 731224, West Bengal, India
      </p>
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="row mb-3">
            <div class="col-md-12 col-6">
              <!-- admission card -->
              <div class="card" style="width: 100%">
                <div class="card-body">
                  <h5 class="card-title">Admissions</h5>
                  <h6 class="card-subtitle mb-2 text-muted">for 2021-22 batch</h6>
                  <p class="card-text">
                    Admission starts from 23rd December, 2020. Forms avaliable at our branch.
                  </p>
                  <a href="#" class="card-link btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-6">
              <!-- ad card -->
              <div class="card ab-box mt-3" style="width: 100%">
                <div class="card-body">
                  <img
                    src="https://via.placeholder.com/500x300.png?text=Advertisement+1"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12">
          <!-- event images carousel -->
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% for( let i = 0; i < 5; i++ ) { %>
              <li
                data-target="#carouselExampleCaptions"
                data-slide-to="<%= i %>"
                class="<% if (i == 0) { %> active <% } %>"
              ></li>
              <% } %>
            </ol>
            <div class="carousel-inner">
              <% for( let i = 0; i < 5; i++ ) { %>
              <div class="carousel-item <% if (i == 0) { %> active <% } %>">
                <img src="https://via.placeholder.com/1000x600.png" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Event <%= i+1 %></h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <!-- live stream box -->
      <div class="jumbotron jumbotron-fluid mt-3 py-2">
        <div class="container">
          <h1 class="display-4 text-center">Live Stream</h1>
          <iframe
            src="https://www.youtube.com/embed/ScMzIvxBSi4"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            width="100%"
            height="500px"
          ></iframe>
        </div>
      </div>

      <!-- notice board -->
      <div class="row justify-content-center">
        <div class="p-1" style="background-color: black; width: 645px; height: 440px">
          <%- include ("notice-board/board") %>
        </div>
      </div>

      <!-- yearbook -->
      <div class="row justify-content-center" style="margin-top: 20px;">
        <%- include ("yearbook/yearbook") %>
      </div>

      <div class="modal fade" id="noticeBoardModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body"><%- include ("notice-board/board") %></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ad row -->
      <div class="row">
        <div class="col-6">
          <div class="card ab-box mt-3" style="width: 100%">
            <div class="card-body">
              <img
                src="https://via.placeholder.com/500x300.png?text=Advertisement+2"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card ab-box mt-3" style="width: 100%">
            <div class="card-body">
              <img
                src="https://via.placeholder.com/500x300.png?text=Advertisement+3"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>

    <script src="js/index.js"></script>
  </body>
</html>
